.dashboard {
    width: 100%;
    height: 100vh;
}

.dashboard .top-bar {
    width: 100%;
    height: 100px;
}

.dashboard .bottom-bar {
    width: 100%;
    height: 86.5%;
    overflow-y: auto;
}

.dashboard .bottom-bar .left-menu {
    width: 100px;
    height: 100%;
}